@mixin layout-flex($align: center, $justify: space-between, $direction: row){
    align-items: $align;
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    flex-direction: $direction;
}

$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(max-width: 767px)";

// media queries
@mixin screen($size) {

  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  }
  @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  }
  @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  }
  @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}
