a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: $system;
	font-weight: 300;
}

:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
figure {
	margin: 0;
	font-size: 1em;
}

h1 {
	color: green;
}

p {
	font-family: $system;
	font-weight: normal;
	font-size: 18px;
}

strong {
	font-family: $system;
	font-weight: normal;
}

mark {
	background: none;
}

.container {
	margin: 0 auto;
	max-width: 1100px;
	width: 80%;
}
